{% extends 'base.html' %}

{% block head %}
<title>Hotel Page</title>
{% endblock %}

{% block body %}

<!-- First Row Start -->
<div id="indexbody" class="container-fluid">
    <div class="row">
        <div class="card-group p-3 pb-0">

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage1 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Holiday Inn & Suites From Orlando</b>
                        </small>
                    </h6>
                    <p>
                        <small>564 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage2 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Universal's Loews Royal Pacific Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>786 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage3 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Crowne Plaza Hotel Orlando-Universal</b>
                        </small>
                    </h6>
                    <p>
                        <small>653 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage4 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Avanti Palms Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>742 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage5 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Avanti Palms Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>910 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

        </div>
    </div>
    <!-- First Row End  -->

    <!-- Second Row Start  -->
    <div class="row">
        <div class="card-group p-3 pb-0">

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage6 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Eco-Friendly House in Orlando, Florida</b>
                        </small>
                    </h6>
                    <p>
                        <small>1092 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage7 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Orlando hotels up to 60% off</b>
                        </small>
                    </h6>
                    <p>
                        <small>652 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage8 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Unique Style Home in Orlando, Florida</b>
                        </small>
                    </h6>
                    <p>
                        <small>890 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage9 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Exceptional Home near Orlando, Florida</b>
                        </small>
                    </h6>
                    <p>
                        <small>764 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage10 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Luxury Villa starting from $55 </b>
                        </small>
                    </h6>
                    <p>
                        <small>1092 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Second Row End  -->

    <!-- Third Row Start  -->
    <div class="row">
        <div class="card-group p-3">

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage11 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Florida’s Most Room to Explore</b>
                        </small>
                    </h6>
                    <p>
                        <small>754 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage12 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Florida’s Most Room to Explore Universal's Hard Rock Hotel®</b>
                        </small>
                    </h6>
                    <p>
                        <small>658 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage13 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Universal's Loews Sapphire Falls Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>963 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage14 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Book a home with flexibility.</b>
                        </small>
                    </h6>
                    <p>
                        <small>894 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage15 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Universal's Cabana Bay Beach Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>951 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-success">View Details</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Third Row End  -->

</div>
{% endblock %}